@using PoissaHR.Application.Services.EmployeeService
@using PoissaHR.Shared.Dto

@inject IEmployeeService EmployeeService
@inject NavigationManager Navigation

@page "/employees/{Id:guid}"

@if (employee == null)
{
    <p>Ladataan työntekijän tietoja...</p>
}
else
{
    <MudGrid Spacing="3">

        <!-- Basic Info -->
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="min-height: 13rem;">
                <MudText Typo="Typo.h6">@employee.FirstName @employee.LastName</MudText>
                <br />
                <MudText>@employee.Email</MudText>
                <MudText>@employee.Phone</MudText>
                <MudAvatar Size="Size.Large" Class="mt-2">
                    <MudImage Src="@employee.Portrait" Alt="Profiilikuva" />
                </MudAvatar>
            </MudPaper>
        </MudItem>

        <!-- Employment -->
        <MudItem xs="12" md="8">
            <MudPaper Class="pa-4" Style="min-height: 13rem;">
                <MudText Typo="Typo.h6">Nykyinen työsuhde</MudText>
                <br />
                <MudText>Osasto: @employee.DepartmentName</MudText>
                <MudText>Rooli: @employee.CurrentJobTitle</MudText>
                <br />
                <MudButton OnClick="@(() => Navigation.NavigateTo($"/employees/{employee.Id}/employments"))">
                    Näytä kaikki
                </MudButton>
            </MudPaper>
        </MudItem>

        <!-- Tabs -->
        <MudItem xs="12">

            <MudTabs>
                <MudTabPanel Text="Poissaolot">

                    <MudTable Items="@employee.Absences"
                              Hover="true"
                              Bordered="true"
                              Striped="true">

                        <HeaderContent>
                            <MudTh>Tyyppi</MudTh>
                            <MudTh>Alkupäivä</MudTh>
                            <MudTh>Loppupäivä</MudTh>
                            <MudTh>Status</MudTh>
                            <MudTh>Muistiinpanot</MudTh>
                        </HeaderContent>

                        <RowTemplate Context="absence">
                            <MudTd>@absence.Type</MudTd>
                            <MudTd>@absence.StartDate.ToShortDateString()</MudTd>
                            <MudTd>@absence.EndDate.ToShortDateString()</MudTd>
                            <MudTd>@absence.Status</MudTd>
                            <MudTd>@absence.Notes</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudTabPanel>
                <MudTabPanel Text="Dokumentit">
                    <MudButton>Lataa</MudButton>
                </MudTabPanel>
            </MudTabs>
        </MudItem>

        <MudItem xs="12">
            <MudText Typo="Typo.h6" Class="d-flex align-center">
                Muokkaa tietoja
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               OnClick="@(() => Navigation.NavigateTo($"/employees/{employee.Id}/edit-info"))" />
            </MudText>
        </MudItem>

    </MudGrid>
}
@code {
    [Parameter]
    public Guid Id { get; set; }

    private EmployeeDto? employee;

    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeService.GetEmployeeByIdAsync(Id);
    }
}
