@using PoissaHR.Application.Services.DepartmentService
@using PoissaHR.Shared.Dto

@inject IDepartmentService DepartmentService
@inject NavigationManager Navigation

@page "/departments"

@if (departments == null || !departments.Any())
{
    <p>Ladataan osastolistaa...</p>
}
else
{
    <MudPaper Class="pa-4">

        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <MudText Typo="Typo.h5">Osastot</MudText>
        </MudStack>

        <MudTable Items="@departments"
                  Hover="true"
                  Striped="true"
                  Bordered="true"
                  Breakpoint="Breakpoint.None">

            <HeaderContent>
                <MudTh>Nimi</MudTh>
            </HeaderContent>

            <RowTemplate Context="d">
                <MudTd>@d.Name</MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.Visibility" OnClick="@(() => GoToDetails(@d.Id))" />
                </MudTd>
            </RowTemplate>
        </MudTable>

    </MudPaper>
}
@code {
    private List<DepartmentDto> departments = new();

    protected override async Task OnInitializedAsync()
    {
        var departmentList = await DepartmentService.GetAllDepartmentsAsync();
        departments = departmentList.ToList();
    }

    private void GoToDetails(Guid departmentId) => Navigation.NavigateTo($"/departments/{departmentId}");
}
